/* --color1: #6269E4;
  --color2: #535cdf;
  --color3: #5158E1;
  --pri-color: #535cdf;
  --sec-color: #faebd7;
  --darker-color: rgba(0, 0, 0, 0.75);
  --light-color: #fff;
 */
/*
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell English', serif;
font-family: 'Mukta Vaani', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*  VAIABLES ---------------------------------------------------------------------   VARIABLES */

:root {
  /* >>>>  FARBEN  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  --pri-color: #535cdf;
  --sec-color: #faebd7;
  --darker-color: rgba(0, 0, 0, 0.75);
  --light-color: #fff;

  /* >>>>  FONTS  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  --pri-font: 'Roboto', sans-serif;
  --sec-font: 'IM Fell DW Pica', serif;
  --thi-font: "Barrio", system-ui;
  --f-size-normal: 1rem;
  --f-size-heading1: 2rem;
  --f-size-heading2: 1.7rem;
  --f-size-heading3: 1.5rem;
  --f-size-heading4: 1.2rem;

  --f-size-smaller: .8rem;
  --f-size-heading1-smaller: 1.5rem;
  --f-size-heading2-smaller: 1.3rem;
  --f-size-heading3: 1.1rem;
  --f-size-heading4: 1rem;

  --f-weight-normal: 400;
  --f-weight-heading1: 700;
  --f-weight-heading2: 600;
  --f-weight-heading3: 500;
  --f-weight-heading3: 40;

  --l-height-normal: 1.5;
  --l-height-heading1: 2;
  --l-height-higher: 1.7;
}

/*  ELEMENTS ---------------------------------------------------------------------   ELEMENTS */

* {
  box-sizing: border-box;
  /* padding und border wird so in width und height einbezogen: */
  padding: 0;
  /* to center logo - another option?*/
}

body {
  color: var(--darker-color);
  background-color: var(--light-color);
  /* padding: 20px; */
  font-family: var(--pri-font);
  font-weight: var(--f-weight-normal);
  font-size: var(--f-size-normal);
  /* height: auto; */
}

p {
  font-family: var(--pri-font);
  font-weight: var(--f-weight-normal);
  font-size: var(--f-size-normal);
  line-height: var(--l-height-normal);
}

h1 {
  font-family: var(--sec-font);
  font-weight: var(--f-weight-heading1);
  font-size: var(--f-size-heading1);
  line-height: var(--l-height-heading1);
  color: var(--pri-color);
}

h2 {
  font-family: var(--sec-font);
  font-weight: var(--f-weight-heading2);
  font-size: var(--f-size-heading2);
  line-height: var(--l-height-normal);
  color: var(--pri-color);
}

h3 {
  font-family: var(--pri-font);
  font-weight: var(--f-weight-heading1);
  font-size: var(--f-size-heading3);
  line-height: var(--l-height-normal);
  color: var(--darker-color);
}

h4 {
  font-family: var(--pri-font);
  font-weight: var(--f-weight-heading4);
  font-size: var(--f-size-heading4);
  line-height: var(--l-height-normal);
  color: var(--darker-color);
}

/*  MAIN  ---------------------------------------------------------------------  MAIN */

main {
  padding: 20px;
  margin: 0 0 20px 0;
}

main section {
  text-align: center;
}

main a {
  font-family: var(--pri-font);
  font-size: var(--f-size-normal);
  color: var(--pri-color);
  transition: all, 1s ease;
}

main a:visited {
  color: var(--pri-color);
  text-decoration: none;
  font-size: var(--f-size-normal);

}

main a:hover {
  color: var(--darker-color);
  font-size: 18px;
  text-decoration: none;
}

main a:active {
  color: var(--pri-color);
  text-decoration: none;
}

@media all and (max-width: 768px) {

  p {
    font-size: var(--f-size-smaller);
  }

  main a,
  main a:visited {
    font-size: var(--f-size-smaller);
  }

  h1 {
    font-size: var(--f-size-heading2);
  }

  h2 {
    font-size: var(--f-size-heading2-smaller);
  }

  h3 {
    font-size: var(--f-size-heading3-smaller);
  }

  h4 {
    font-size: var(--f-size-heading4-smaller);
  }

}

/*  HOME  ---------------------------------------------------------------------  HOME */

.profile {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-gap: 20px;
}

.profile>* {
  margin: 0;
}

.profile_portrait {
  width: 12vw;
}

.profile a {
  margin-top: 10px;
}


@media all and (max-width: 748px) {
  .profile_portrait {
    width: 30vw;
  }
}

*/
/* CONTACT  ---------------------------------------------------------------------  CONTACT */

.contact a {
  line-height: 2;
}

.contact a:last-child {
  line-height: 4;
}

/* >>>>  FORM  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.cf-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: auto;
  grid-gap: 20px;
}

.cf-container h1,
.cf-container h2,
.cf-container p {
  margin: 0;
}

.cf-container h2 {
  margin-top: 10px;
}


form {
  width: 40vw;
  line-height: 1.5;
}

#cform {
  display: flex;
  flex-direction: column;
}


@media all and (max-width: 500px) {
  form {
    width: 80vw;
  }
}

@media all and (min-width: 1000px) {
  form {
    width: 30vw;
  }
}

#cform input {
  text-align: center;
  margin-bottom: 2vh;
}

#cform textarea {
  text-align: center;
  height: 10vh;
}

#submit-button {
  /* margin-top: 2rem; */
  background-color: var(--light-color);
  border: 2px solid var(--pri-color);
  color: var(--pri-color);
  font-family: var(--pri-font);
  padding: 8px 12px;
  border-radius: 10px;
  transition: all 1s ease;
}

#submit-button:hover {
  cursor: pointer;
  border: 2px solid var(--darker-color);
  color: var(--darker-color);
  scale: 1.1;
}

#submit-button:active {
  cursor: pointer;
  border: 2px solid var(--pri-color);
  color: var(--pri-color);
  scale: 1.1;
}

/* WORK  ---------------------------------------------------------------------  WORK */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1vh;
}

.grid__item {
  background-color: var(--sec-color);
  padding-bottom: 2vh;
  width: 100%;
  margin: 0;
}

.work-heading {
  grid-column: 1/-1;
}

.grid__item h1,
.grid__item h2,
.grid__item h3,
.grid__item h4 {
  margin: 1rem;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: var(--f-size-heading1-smaller);
  }

  h2 {
    font-size: var(--f-size-heading2-smaller);
  }
}

/* ABOUT  ---------------------------------------------------------------------  ABOUT */
.about-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 1vh;
  /* height: auto; */
}

#tk-logo {
  justify-self: center;
  height: 100%;
}

.about-container__item>* {
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;
}

table {
  text-align: center;
  line-height: 1.5;
  margin: 2vh 0;
}

th,
td {
  width: 200px;
}

.s-skills {
  margin-bottom: 2vh;
}

@media all and (max-width: 768px) {
  #tk-logo {
    max-width: 200px;
  }

  th,
  td {
    font-size: var(--f-size-smaller);
    width: 150px;
  }
}

@media all and (max-width: 500px) {
  .about-container {

    h1,
    h2 {
      font-size: 18px;
    }

    th,
    td {
      font-size: 0.5rem;
      width: 30vw;
    }
  }
}


/* HEADER  ---------------------------------------------------------------------  HEADER */
header {
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .5vh;
  height: auto;
  margin-bottom: 1vh;
}

.logo-tobi {
  width: 15vw;
  margin-bottom: 1vh;
}

@media all and (max-width: 500px) {
  .logo-tobi {
    width: 30vw;
    margin-bottom: 1vh;
  }
}

.nav-list {
  margin-top: 0;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 2vw;
}

.nav-list__item {
  text-decoration: none;
  color: var(--darker-color);
  transition: all .5s ease;
}

.nav-list__item:hover {
  color: var(--pri-color);
  font-size: 18px;
}

.nav-list__item--active {
  color: var(--pri-color);
}

/* FOOTER  ---------------------------------------------------------------------  FOOTER */

.page-footer {
  margin-top: 3vh;
  padding: 10px 10px 30px 10px;
  background-color: var(--sec-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.social-media p {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 1vh;
}

.social-media__item {
  text-decoration: none;
  text-align: center;
  padding: 1vw 3vw 1vw 3vw;
}

.social-media__image {
  width: 30px;
  transition: scale 1s ease;
}

.social-media__image:hover {
  scale: 1.7;
}

/* ABOUT - ANIMATION ---------------------------------------------------------------------  ABOUT - ANIMATION*/
@keyframes color-change-sun {
  0% {
    fill: yellow;
  }

  100% {
    fill: rgb(255, 55, 0);
  }
}

@keyframes color-change-water {
  0% {
    fill: rgb(0, 191, 255);
  }

  50% {
    fill: rgb(0, 153, 255);
  }

  100% {
    fill: #535cdf;
  }
}


@keyframes color-change-schrift {
  0% {
    fill: var(--light-color);
  }

  50% {
    fill: var(--sec-color);
  }

  100% {
    fill: #535cdf;
  }
}


.sun,
.disc {
  animation-duration: 2s;
  animation-name: color-change-sun;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.water {
  animation-duration: 2s;
  animation-name: color-change-water;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.schrift,
.disc {
  animation-duration: 2s;
  animation-name: color-change-schrift;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes about-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes item-scale {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}


.about-container__item h1:hover,
.about-container__item h2:hover {
  cursor: pointer;
  animation-duration: .5s;
  animation-name: about-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* #logoanimation:hover {
  cursor: pointer;
  animation-duration: 1s;
  animation-name: logo-scale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
} */

.about-container__item p:hover,
.s-skills table:hover,
#logoanimation:hover {
  cursor: pointer;
  animation-duration: .5s;
  animation-name: item-scale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}